@import '../../breakpoints.scss';

#project {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    overflow-y: scroll;
}

h1 {
    @include breakpoint(big-desktop-up) {
        width: 100%;
    }

    @include breakpoint(desktop-up) {
        width: 100%;
    }

    @include breakpoint(tablet-portrait-up) {
        margin-top: 10%;
        font-size: 40px;
    }

    @include breakpoint(mobile) {
        margin-top: 25%;
        width: 100%;
        border-radius: 50px;
        font-size: 30px;
        margin-bottom: 10px;
        border-bottom: 5px solid var(--forthColor);
    }

    width: 80%;
    font-family: 'Poppins';
    color: var(--skin1);
    font-size: 100px;
    color: var(--secondColor);
    text-transform: uppercase;
    text-align: center;
}

.projects-container {
    @include breakpoint(tablet-landscape-up) {
        margin: 0;
    }

    @include breakpoint(tablet-portrait-up) {
        width: 80%;
        margin: auto;
        align-items: flex-start;
        justify-content: start;
    }

    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.project-container {
    margin-bottom: 20px;
    background-color: var(--thirdColor);
    border-radius: 20px;
    margin-left: 20px;

    h2 {

        @include breakpoint(tablet-portrait-up) {
            font-size: 25px;
        }

        color: var(--forthColor);
        font-family: "Quicksand";
        font-size: 30px;
        padding: 5px;
    }

    .techbox-container {
        @include breakpoint(tablet-portrait-up) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint(mobile) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        p {
            display: inline;
            color: var(--secondColor);
            padding: 10px;
            font-size: 20px;

        }

        // technology span
        span {
            @include breakpoint(mobile) {
                margin-bottom: 2px;
                height: 20px;
                text-align: center;
            }

            background-color: var(--secondColor);
            color: var(--thirdColor);
            padding: 5px;
            margin-left: 5px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    }

    div {
        text-align: end;
        margin-bottom: 5px;
        border-radius: 20px;
        padding: 10px;
        margin: auto;

        a {
            margin-left: 5px;
        }


    }
}

.project-container .box {
    @include breakpoint(tablet-landscape-up) {
        width: fill;
        height: 400px;
    }

    @include breakpoint(tablet-portrait-up) {
        width: fill;
        height: 300px;
    }

    @include breakpoint(mobile) {
        width: fill;
        height: 280px;
    }

    border-radius: 20px;
    width: 580px;
    height: 400px;
    background: #000;
    background-position: top;
    transition: ease-in-out 7s;


    &:hover {
        background-position: bottom;
    }
}

// image add
.project-container .box.box1 {
    background-image: url(../../Assets/healthweb.png);
    background-size: cover;
}

.project-container .box.box2 {
    background-image: url(../../Assets/skillsquid-web.png);
    background-size: cover;
}

.project-container .box.box3 {
    background-image: url(../../Assets/weather-app.png);
    background-size: cover;
}

.project-container .box.box4 {
    background-image: url(../../Assets/skillsquid-web.png);
    background-size: cover;
}