@import '../../breakpoints.scss';


.container-about {
    @include breakpoint(tablet-landscape-up) {
        display: block;
        overflow-y: scroll;
        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    @include breakpoint(tablet-portrait-up) {
        display: block;
        overflow-y: scroll;
        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    @include breakpoint(mobile) {
        display: block;
        overflow-y: scroll;
        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    margin: auto;


    .leftside {
        @include breakpoint(tablet-landscape-up) {
            width: 80%;
            height: auto;
        }

        @include breakpoint(tablet-portrait-up) {
            width: 80%;
            height: auto;
        }

        @include breakpoint(mobile) {
            height: auto;
            margin: auto;
        }

        background-color: var(--mainColor);
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 20px;

        h2 {
            @include breakpoint(mobile) {
                font-size: 25px;
                width: 80%;
            }

            font-size: 30px;
            color: var(--secondColor);
            margin: 10px;
            font-family: Poppins;

            span {
                @include breakpoint(mobile) {
                    font-size: 40px;
                }

                font-size: 60px;
                font-family: Quicksand;
                letter-spacing: 5px;
                color: var(--forthColor);
            }
        }

        p {
            @include breakpoint(tablet-landscape-up) {
                width: 90%;
                padding: auto;
                text-align: justify;
                text-justify: inter-word;
            }

            @include breakpoint(tablet-portrait-up) {
                width: 80%;
                padding: auto;
            }

            @include breakpoint(mobile) {
                width: 85%;
            }

            color: var(--secondColor);
            text-align: justify;
            text-justify: inter-word;
            font-size: 20px;
            margin: 10px;
            font-family: Poppins;
            letter-spacing: 1px;
            margin-right: 10px;
        }


    }

    .rightside {
        @include breakpoint (mobile) {
            height: auto;
        }

        background-color: var(--thirdColor);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 20px;

        h2 {
            font-size: 30px;
            color: var(--secondColor);
            margin: 10px;
            font-family: Poppins;

        }

        .skill-list {
            @include breakpoint(tablet-portrait-up) {
                width: 80%;
            }

            @include breakpoint(mobile) {
                flex-direction: column;
                justify-content: center;
            }

            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }

        ul {
            list-style-type: none;
            color: var(--forthColor);

            li {
                color: var(--secondColor);
                font-size: 20px;
                margin: 10px;
                font-family: Poppins;
                letter-spacing: 1px;
                margin-right: 10px;
            }
        }
    }
}