@import '../../breakpoints.scss';

.container-home {
    @include breakpoint(tablet-landscape-up) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include breakpoint(tablet-portrait-up) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    .leftside {
        @include breakpoint(tablet-landscape-up) {
            height: 50vh;
            width: 80%;
            padding-left: 10%;
        }

        @include breakpoint(tablet-portrait-up) {
            height: 50vh;
            width: 80%;
            padding-left: 10%;
        }

        @include breakpoint(mobile) {
            height: 50vh;
            width: 100%;
            padding-left: 15%;
        }

        background-color: var(--mainColor);
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        h2 {
            @include breakpoint(tablet-landscape-up) {
                width: 80%;
            }

            @include breakpoint(tablet-portrait-up) {
                width: 80%;
            }

            @include breakpoint(mobile) {
                font-size: 25px;
                width: 80%;
            }

            font-size: 30px;
            color: var(--secondColor);
            margin: 10px;
            font-family: Poppins;

            span {
                @include breakpoint(mobile) {
                    font-size: 50px;
                }

                font-size: 60px;
                font-family: Righteous;
                letter-spacing: 5px;
                color: var(--forthColor);
            }
        }

        h6 {
            @include breakpoint(mobile) {
                font-size: 25px;
                width: 80%;
            }

            color: var(--secondColor);
            font-size: 30px;
            margin: 10px;
            font-family: Quicksand;
            letter-spacing: 2px;
        }

        button {
            display: inline-block;
            border-radius: 4px;
            // background-color: var(--forthColor);
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            background-image: linear-gradient(to right, var(--forthColor) 0%, var(--secondColor) 50%, var(--forthColor) 100%);
            border: none;
            color: var(--mainColor);
            text-align: center;
            font-family: "Quicksand";
            border-radius: 6px;
            font-size: 25px;
            padding: 20px;
            width: 300px;
            background-size: 200% auto;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            text-transform: uppercase;

            &:hover {
                background-position: right center;
            }

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &::after {
                    content: '\2B73';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }

            &:hover span {
                padding-right: 25px;
            }

            &:hover span::after {
                opacity: 1;
                right: 0;
            }
        }

        /*  button {
            display: block;
            text-align: center;
            text-decoration: none;
            font-weight: 800;
            font-size: 1em;
            text-transform: uppercase;
            color: var(--secondColor);

            margin: 10px;
            padding: 1em 3em;
            color: white;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
            transition: 0.5s;

            &:hover {
                background-position: right center;
            }
        }*/

    }

    .rightside {
        @include breakpoint(tablet-landscape-up) {
            height: 50vh;
            width: 100vw;
        }

        @include breakpoint(tablet-portrait-up) {
            height: 50vh;
            width: 100vw;
        }

        @include breakpoint(mobile) {
            height: 50vh;
            width: 100vw;
        }

        background-color: var(--secondColor);
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;

        .myimg {
            height: 100%;
            width: 100%;
            margin: auto;
            text-align: center;

            img {
                position: relative;
                bottom: 0;
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
                /* background: url(../../Assets/myimg.png)50% 50% no-repeat;
            */
            }
        }
    }
}