@import '../../breakpoints.scss';
@import '../../common.scss';

.container-home {
    @include breakpoint(tablet-landscape-up) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include breakpoint(tablet-portrait-up) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    .leftside {
        @include breakpoint(tablet-landscape-up) {
            height: 50vh;
            width: 80%;
            padding-left: 10%;
        }

        @include breakpoint(tablet-portrait-up) {
            height: 50vh;
            width: 80%;
            padding-left: 10%;
        }

        @include breakpoint(mobile) {
            height: 50vh;
            width: 100%;
            padding-left: 15%;
        }

        background-color: var(--mainColor);
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        h2 {
            @include breakpoint(tablet-landscape-up) {
                width: 80%;
            }

            @include breakpoint(tablet-portrait-up) {
                width: 80%;
            }

            @include breakpoint(mobile) {
                font-size: 25px;
                width: 80%;
            }

            font-size: 30px;
            color: var(--secondColor);
            margin: 10px;
            font-family: Poppins;

            span {
                @include breakpoint(mobile) {
                    font-size: 50px;
                }

                font-size: 60px;
                font-family: Righteous;
                letter-spacing: 5px;
                color: var(--forthColor);
            }
        }

        h6 {
            @include breakpoint(mobile) {
                font-size: 25px;
                width: 80%;
            }

            color: var(--secondColor);
            font-size: 30px;
            margin: 10px;
            font-family: Quicksand;
            letter-spacing: 2px;
        }

    }

    .rightside {
        @include breakpoint(tablet-landscape-up) {
            height: 50vh;
            width: 100vw;
        }

        @include breakpoint(tablet-portrait-up) {
            height: 50vh;
            width: 100vw;
        }

        @include breakpoint(mobile) {
            height: 50vh;
            width: 100vw;
        }

        background-color: var(--secondColor);
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;

        .myimg {
            height: 100%;
            width: 100%;
            margin: auto;
            text-align: center;

            img {
                position: relative;
                bottom: 0;
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
                /* background: url(../../Assets/myimg.png)50% 50% no-repeat;
            */
            }
        }
    }
}