@import '../../breakpoints.scss';

.contact-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    overflow: hidden;
    background-color: var(--mainColor);
}

.contact-overlay {
    background: url(../../Assets/img2.jpg)50% 50% no-repeat;
    background-size: cover;
}

.contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;

    h1 {
        font-family: 'Poppins';
        color: var(--secondColor);
        font-size: 100px;
        text-transform: uppercase;
    }
}

/* 
@mixin breakpoint($size) {
    @if $size ==mobile {
        @media (max-width: 599px) {
            @content;
        }
    }

    @else if $size ==tablet-portrait-up {
        @media (min-width: 600px) {
            @content;
        }
    }

    @else if $size ==tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    }

    @else if $size ==desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==big-desktop-up {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

 */
/* 
.header {
    @include breakpoint(mobile) {
        width: 100px;
        height: 100px;
        background-color: red;
    }

    width:500px;
    height:500px;
    background-color: black;
} */