// common link  
a {
    display: inline-block;
    position: relative;
    color: var(--secondColor);
    font-size: 20px;

    &:hover {
        color: var(--thirdColor);
        transition: all 0.25s ease-in-out;
    }
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--forthColor);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    text-decoration: none;
    transform: scaleX(1);
    transform-origin: bottom left;
}

button {
    @include breakpoint(mobile) {
        width: 300px;
        font-size: 20px;
        padding: 15px;
    }

    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
    0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, var(--forthColor) 0%, #ffa35c 50%, var(--forthColor) 100%);
    border: none;
    color: var(--mainColor);
    text-align: center;
    font-family: "Quicksand";
    border-radius: 6px;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    background-size: 200% auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;

    &:hover {
        background-position: right center;
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &::after {
            content: '⭳';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover span {
        padding-right: 25px;
    }

    &:hover span::after {
        opacity: 1;
        right: 0;
    }
}